@mixin widthHeightSort($width, $height) {
  width: $width;
  height: $height;
}

@mixin flexSort($direction, $justify, $alignItems) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $alignItems;
}

@mixin positionSort($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin borderSort($border, $borderRadius) {
  border: $border;
  border-radius: $borderRadius;
}

/*border*/
$border-gray: 1px solid #aaa8a8;
$border-input: 1px solid #f5e3e3;
$border-radius: 5px;
$border-radius-img: 50px;
/*color*/
$color-gray: #aaa8a8;
$color-blue: #2099f1;
$color-light-blue: #c5e1fb;
